
#top {
	background: url("workstation2.jpg")  no-repeat center top;
  background-size: cover;
  max-height: 900px;
  position: relative;
  margin: -210px 0 60px 0;
  padding: 210px 0 0 0;
  z-index: 0;
}


