@import url(http://fonts.googleapis.com/css?family=Arimo);

html {
	font-family: 'Arimo', sans-serif;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 5%;
	margin-top: 5%;
}

.top {
   position: relative;
   overflow: hidden;
   background-color: #000;
   opacity: 0.99;
   min-height: 500px;
}

.top:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/workstation.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.top h1 {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	margin-top: 1%;
	font-size: 4em;
	text-align: center;
	color: #fff;
}

.top h2 {
	font-family: 'Arimo', sans-serif;
	margin-top: 2em;
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	font-weight: -1px;

}

.nav{
    list-style:none;
    text-align:center;
}

.nav li{
    display:inline;
    background-color: #4bc6a6;
    opacity: .9;
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav a{
	text-decoration: none;
    display:inline-block;
    padding: 30px;
    margin: 10px;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #fff;
}

.nav li:hover {
	background-color: #40ad90;
}

#about, #contact, #portfolio {
	background-color: #333;
	display: block;
	float: left;
	width: 100%;
}


.title {
	background-color: #4bc6a6;
	font-family: 'Arimo', sans-serif;
	font-size: 28px;
	padding: 10px 0 30px 50px;
	color: #fff;
	min-height: 30px;
}

.title h2 {
	margin-top: 10px;
}

#about img{
	/*margin: 80px 0 80px 50px;*/
	border-radius: 8px;
	height: 510px;
	float: left;
	display: block;
	box-shadow: 2px 2px 2px #555;
}


aside {
	margin-top: 100px;
	padding-left: 100px;
	width: 60%;
	float: left; 
	display: inline-block;
	font-family: 'Arimo', sans-serif;
	font-size: 1.3em;
	line-height: 30px;
	border-radius: 8px;
	color: #fff;
}

aside p{
	text-align: right;
	line-height: 150%;
	margin-bottom: 32px;
}

aside a{
	background-color: #4bc6a6;
	color: #fff;
	padding: .5rem 1rem;
	border-radius: 8px;
}

.row {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    color: #fff;
}

.item {
	display: flex;
	flex-direction: row;
    margin: 10px auto;
    background-color: #444;
}

#icons img {
	height: 100px;
}

#icons div {
	display: block;
	float: left;
}

.media-el {
	width: auto;
	max-height: 500px;
	margin: 0 auto 0 auto;
}

.media-el img{
	height: 500px;
}

.media-txt {
	margin: 10px 2px;
	max-width: 290px;
	margin-left: 8px;
	padding: 12px;
	line-height: 150%;
	font-size: 1.1em;
}

.media-txt h3 {
	margin-bottom: 30px;
}

.contact-info-txt {
	font-family: 'Arimo', sans-serif;

}

.contact-info a, .contact-info-txt a {
	color: #fff;
}


.contact-info, .contact-info-txt {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items:flex-start;
}

.contact-info ul, .contact-info-txt ul {
	display: flex;
}

.contact-info li {
	display: flex;
	margin: 30px;
	margin-top: 40px;
}

.contact-info-txt li {
	display: flex;
	margin-left: -70px;
}

.contact-info li {
	padding-left: 80px;
}

.contact-info i {
	color: #fff;
	font-size: 4em;
}

.contact-info i:hover {
	color: #888;
}


